<!DOCTYPE html>
<html>
  <head>
    <title>Covid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% include 'survey/head.html' %}
  </head>
  <body>
    <div>
      <!-- Top Navigation Menu -->
      <div class="topnav">
        <a href="{% url 'covid' %}" class="active">Primecare Services</a>
        <div id="myLinks" style="font-weight: 100;">
        <a href="{% if request.user.is_staff %}{% url 'client' %}{%else %}{% url 'covid' %}{% endif %}">Staff Dashboard</a>

          <a href="{% url 'success' %}">Contact Us</a>
          <a href="{% url 'logout' %}">Logout</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>

      {% block content %} {% endblock %}
      <div class="footer">
        <a href="{% if request.user.is_staff %}{% url 'client' %}{%else %}{% url 'covid' %}{% endif %}" class="list-group-item"><i class="fa fa-home fa-fw fa-2x"></i></a>
        
      </div>
    </div>
      {% include 'survey/scripts.html' %}
    </div>
  </body>
</html>   
