{% extends "survey/base.html" %} {% load static %} {% block content %}

<div class="container">
  <form
    id="regForm"
    method="post"
    name="form"
    action=""
    enctype="multipart/form-data"
  >
    {% csrf_token %}

    <div class="tab">
      <div class="col-12">
        Have you recently travelled to a COVID-19-affected geographic area
        inside or outside USA in the past 14 days?
      </div>
      <div class="col-12 pad">
        <ul>
          {{form.q1}} Click if yes
        </ul>
      </div>
      <div class="col-12">
        Have you had any contact with any person who has travelled outside the
        USA in the past 14 days?
      </div>
      <div class="col-12 pad">
        <ul>
          {{form.q2}} Click if yes
        </ul>
      </div>
      <div class="col-12">
        Have been in close contact with someone diagnosed with COVID-19 in the
        past 14 days?
      </div>
      <div class="col-12 pad">
        <ul>
          {{form.q3}} Click if yes
        </ul>
      </div>
      <div class="col-12">
        Have been in close contact with someone who is ill with a respiratory
        illness?
      </div>
      <div class="col-12 pad">
        <ul>
          {{form.q4}} Click if yes
        </ul>
      </div>
    </div>

    <div class="tab">
      <div class="col-12">
        In the last 48 hours, have you had any of the following NEW symptoms?
        Check all that apply.
      </div>
      <div class="col-12 pad">
        {{form.q5}}
      </div>
      <div class="col-12 pad" style="text-align: center;">
        <button id="submit" type="submit" class="btn btn-info btn-lg">
          Submit
        </button>
        <input type="hidden" name="user" value="{{ request.user.id }}" />
      </div>
    </div>
    <div style="overflow: auto;">
      <div style="float: right;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">
          Previous
        </button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
      </div>
    </div>
    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align: center; margin-top: 40px;">
      <span class="step"></span>
      <span class="step"></span>
      <!-- <span class="step"></span>
      <span class="step"></span> -->
    </div>
  </form>
</div>
{% endblock %}
