{% extends "survey/base.html" %} {% load static %} {% block content %}

<div class="container">
  <form
    id="regForm"
    method="post"
    name="form"
    action=""
    enctype="multipart/form-data"
  >
    {% csrf_token %}

    <div class="tab">
      <div class="col-12">
        <p>
          <h5>
        In the last 14 days have you recently travelled to a COVID-19-affected
        geographic area inside or outside USA?
        </h5>
        </p>
      </div>
      <div class="col-12 pad">
        <ul>
          {{form.q1}} Click if yes
        </ul>
        <hr>
      </div>
      <div class="col-12">
        <p>
          <h5>
        In the last 14 days have you been in contact with any person who has
        travelled outside the USA?
        </h5>
        </p>
      </div>
      <div class="col-12 pad">
        <ul>
          {{form.q2}} Click if yes
        </ul>
        <hr>
      </div>
    </div>
    <div class="tab">
      <div class="col-12">
        <p>
          <h5>
            In the last 14 days have been in CLOSE CONTACT with someone
            diagnosed with COVID-19 or ill with a respiratory illness?
          </h5>
        </p>
        <div class="col-12">
          The CDC defines "close contact" as
          <p>
            a) being within approximately 6 ft. of a person with COVID-19 for a
            prolonged period of time (such as caring for someone with COVID in
            your home); or
          </p>
          <p>
            b) having unprotected direct contact (less than 6ft.) with
            infectious secretions or excretions with someone with COVID-19
            (e.g., being coughed on, touching used tissues with a bare hand).
          </p>
        </div>
      </div>
      <div class="col-12 pad">
        <ul>
          {{form.q3}} Click if yes
        </ul>
        <hr>
      </div>
      <div class="col-12">
        <p>
          <h5>
        Have you been told by a health care provider you might have COVID-19?
        </h5>
        </p>
      </div>
      <div class="col-12 pad">
        <ul>
          {{form.q4}} Click if yes
        </ul>
        <hr>
      </div>
    </div>

    <div class="tab">
      <div class="col-12">
        <p>
          <h5>
            Are you experiencing NEW onset of the following symptoms?
        </h5>
        </p>
      </div>
      <div class="col-12 pad">
        {{form.q5}}
        <hr>
      </div>
      <div class="col-12 pad" style="text-align: center;">
        <button id="submit" type="submit" class="btn btn-info btn-lg">
          Submit
        </button>
        <input type="hidden" name="user" value="{{ request.user.id }}" />
      </div>
    </div>
    <div style="overflow: auto;">
      <div style="float: right;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">
          Previous
        </button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
      </div>
    </div>
    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align: center; margin-top: 40px;">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <!-- <span class="step"></span> -->
    </div>
  </form>
</div>
{% endblock %}
