{% extends "survey/base.html" %} {% load static %} {% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <form
    id="regForm"
    method="post"
    name="form"
    action=""
    enctype="multipart/form-data"
  >
    {% csrf_token %}

    <div class="tab">
      <div class="col-12">
        Have you been within 6 feet of a person with a lab-confirmed case of
        COVID-19 for at least 5 minutes, or had direct contact with their mucus
        or saliva, in the past 14 days?
      </div>
      <div class="col-12 pad">
        <ul>
          {{form.answer}} Click if yes
        </ul>
      </div>
    </div>
    <div class="tab">
      <div class="col-12">
        In the last 48 hours, have you had any of the following NEW symptoms?
        Check all that apply.
      </div>
      <div class="col-12 pad">
        {{form.answer1}}
      </div>
      <div class="col-12 pad" style="text-align: center;">
        <button id="submit" type="submit" class="btn btn-info btn-lg">
          Submit
        </button>
        <input type="hidden" name="user" value="{{ request.user.id }}" />
      </div>
    </div>
    <div style="overflow: auto;">
      <div style="float: right;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">
          Previous
        </button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
      </div>
    </div>
    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align: center; margin-top: 40px;">
      <span class="step"></span>
      <span class="step"></span>
      <!-- <span class="step"></span>
      <span class="step"></span> -->
    </div>
  </form>
</div>
{% endblock %}
