<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>
  * {
    box-sizing: border-box;
  }

  body {
    background-color: #f1f1f1;
    font-size: 13px;
  }

  /* navbar */

  .mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    min-height: 900px;
    border-radius: 10px;
  }

  .topnav {
    overflow: hidden;
    background-color: #16a2b8f2;
    position: relative;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: #17a2b8;
    color: white;
  }

  /* end navbar */

  .pad {
    padding-top: 30px;
  }

  label {
    display: inline-block;
    margin-bottom: 0.7rem;
  }

  #regForm {
    background-color: #ffffff;
    margin: 50px auto;
    font-family: Raleway;
    padding: 20px;
    width: 90%;
    min-width: 300px;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  ​ h1 {
    text-align: center;
  }

  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }

  /* Hide all steps by default: */
  .tab {
    display: none;
  }

  button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }

  button:hover {
    opacity: 0.8;
  }

  #prevBtn {
    background-color: #bbbbbb;
  }

  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }

  .step.active {
    opacity: 1;
  }

  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4caf50;
  }
  /* input[type="checkbox"] {
    width: 10px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
  } */
</style>
