<!DOCTYPE html>
<html>
  <head>
    <title>Covid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% include 'questions/head.html' %}
     <style>
    #hidden_div {
    display: none;
    color:red;
}
.text {
  font-weight: 100;
}
          </style>

<script>
  function showDiv(divId, element)
{
    document.getElementById(divId).style.display = element.value == 'Yes' ? 'block' : 'none';
}
</script>
  </head>
  <body>
    <div>
      <!-- Top Navigation Menu -->
      <div class="topnav">
        <a href="{% url 'covid' %}" class="active">Primecare Services</a>
        <div id="myLinks">
          {% if request.user.is_staff %}
        <a href="{% url 'staff' %}">Staff Dashboard</a>
        {%else %}<a href="{% url 'covid' %}">Home</a>{% endif %}

          <a href="{% url 'success' %}" class="text">Contact Us</a>
          <a href="/accounts/logout/" class="text">Logout</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>

      {% block content %} {% endblock %}
      <div class="footer">
        {% if user.status == 'Active' and user.account_type == 'Staff' %}
        <a href="{% if request.user.is_staff %}{% url 'staff' %}{% else %}{% url 'covid' %}{% endif %}" class="list-group-item"><i class="fa fa-home fa-fw fa-2x"></i></a>
        {% else %}
        <a href="/accounts/logout/" class="list-group-item"><i class="fa fa-home fa-fw fa-2x"></i></a>
        {% endif %}
      </div>
    </div>
      {% include 'questions/scripts.html' %}
    </div>
  </body>
</html>   
