{% extends "dashboard/dash_base.html" %}
{% load staticfiles %}
{% block content %}

<div class="row">
	<div class="col-md-12">
		<table id="myTable" class="table table-striped table-hover" width="100%">
	      <tr>
	      	<td><strong>Client ID</strong></td>
	     	<td><strong>Full Name</strong></td>
	     	<td><strong>Service Date From</strong></td>
	     	<td><strong>Service Date To</strong></td>
	     	<td><strong>Amount Billed</strong></td>
        <td><strong>Amount Paid</strong></td>
        <td></td>
	     </tr> 
	     {% for rw in billing %}
	     	{% if rw.account_type == 'client' %}
	     <tr>
	     	<td>{{rw.client_number}}</td>
	     	<td style="text-transform: capitalize;"><a href="#billing{{rw.rootid_id}}" data-toggle="modal">{{rw.fname}} {% if rw.middle_name %}{{rw.middle_name}} {% else %}{% endif %} {{rw.lname}}</a></td>
	     	<td style="text-transform: capitalize;">{{rw.service_date_from}}</td>
	     	<td style="text-transform: capitalize;">{{rw.service_date_to}}</td>
	     	<td>{{rw.amount_billed}}</td>
        <td>{{rw.amount_paid}}</td>
        <td>{{rw.payment_status}}</td>
	     </tr> 
	     	{% endif %} 
	     {% endfor %} 
	 </table>
	</div>
</div>




<!-- The Modal -->
{% for rw in billing %}
  {% if rw.account_type == 'client' %}
    <div id="billing{{rw.rootid_id}}" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
              <iframe src="{% url 'client-detail' rw.rootid_id %}" width="100%" frameborder="0" height="500"></iframe>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}


{% endblock %}