{% extends "w3baseBlank.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="col-sm-12">
		<form  method="post" name="ClientAttributeForm" id="ClientAttributeForm" action="" enctype="multipart/form-data">{% csrf_token %}
	    		<div class="row">
			    	<div class="col-sm-12">
			        	{{ClientAttributeForm.client_number|as_crispy_field }}
			    	</div>

			    	<div class="col-sm-12">
			    		<label>Company</label>
			    		<select name="company" class="form-control">
			    			<option value="{{company}}" selected>{{company}}</option>
			    			{% for rw in dictionary %}
			    			{% if rw.category == 'company' %}
			    			<option value="{{rw.header}}">{{rw.header}}</option>
			    			{% endif %}
			    			{% endfor %}
			    		</select><br />
			    	</div>
			    	<div class="col-sm-4">
			        		{{ClientAttributeForm.soc|as_crispy_field }}
			    	</div>

			    	<div class="col-sm-12">
                    <button type="submit" class="btn btn-info btn-md">Edit Company Info </button>
                </div>
		    </div>	
		</form>    
</div>

{% endblock %}