{% extends "w3baseBlank.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}
<style type="text/css">
  div {
    padding: 3px;
  }
</style>
			<div class="col-sm-12" style="padding-top: 5px">
				<div class="col-sm-12">
               <form  method="post" name="form"  action="" enctype="multipart/form-data">{% csrf_token %}
          <div class="col-sm-12">
            <h3>Claim ID: {{ claim_id}}</h3> <br /><br />

          </div>
          <div class="col-sm-6">
            {{ form.amount_billed|as_crispy_field }}
          </div>
          <div class="col-sm-6">
            {{ form.amount_paid|as_crispy_field }}
          </div>
          
          <div class="col-sm-6">
            <label><strong>Payment Status</strong></label>
             <select name="payment_status" class="form-control form-control-lg">
              <option value="{{payment_status}}" selected>{{payment_status}}</option>
                {% for rw in dictionary %}
                {% if rw.category == 'payment_status' %}
                <option value="{{rw.header}}">{{rw.header}}</option>
                {% endif %}
                {% endfor %}
             </select>
          </div>
          <div class="col-sm-6">
            {{ form.notes|as_crispy_field }}
          </div>
          <input type="hidden" name="rootid" class="form-control" value="{{rootid}}">
          <input type="hidden" name="user" class="form-control" value="{{ request.user.id }}">
          <div  class="col-sm-12">
              <button type="submit" class="btn btn-info btn-lg">Update Payment Status </button>
          </div>
        </form>
				</div>
			</div>


{% endblock %}