{% extends "w3baseBlank.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row centered">
      {% for rw in client %}
       <div class="col-sm-12" style="padding: 2px">
            <a href="#client" data-toggle="modal" class="btn btn-lg btn-info" style="min-width: 250px">
              <span style="font-size: 10px">Check Out<br /></span>
            {{rw.fname}} {{rw.lname}}</a>
        </div>
       {% endfor %}
       <div class="col-sm-12" style="padding: 2px">
        <a href="" class="btn btn-lg btn-info" style="min-width: 250px">View All Entries</a>
       </div>
       <div class="col-sm-12" style="padding: 2px">
        <a href="{% url 'logout' %}" class="btn btn-lg btn-info" style="min-width: 250px">Logout</a>
       </div>
    </div>

    <!-- Modal -->
<div id="client" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      
      <div class="modal-body">
        <form  method="post" name="form"  action="" enctype="multipart/form-data">{% csrf_token %}
                    <div style="padding: 5px">
                       <input type="text" name="Daily_Logout_ID" class="form-control input-lg" value="" placeholder="Unique Log Out Number">
                    </div>
                    
                    <div style="padding: 5px">
                       <input type="text" name="PatientID" class="form-control input-lg" value="" placeholder="Client Number">
                    </div>
                    
                    <input type="hidden" name="user" class="form-control" value="{{ request.user.id }}">
                    <div style="padding: 5px">
                        <button type="submit" class="btn btn-info btn-lg">Save</button>
                    </div>
                    <div style="height: 50px">   
                       &nbsp;
                    </div>
              </form>
      </div>
    </div>

  </div>
</div>
{% endblock %}