{% load static %} {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Primecare Link Admin</title>
    <!-- plugins:css -->
    <style>
      .pagination {
        display: inline-block;
      }

      .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        margin: 0 4px;
      }

      .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border: 1px solid #4CAF50;
      }

      .pagination a:hover:not(.active) {background-color: #ddd;}
    </style>
   {% include 'dashboard/head.html' %}
  </head>
  <body class="sidebar-icon-only sidebar-dark">
    <div class="container-scroller">
      <nav
        class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row navbar-dark"
      >
        <div
          class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center"
        >
          <a class="navbar-brand brand-logo mr-5" href=""
            ><img src="{% static 'img/logo.png' %}" class="mr-2" alt="logo"
          /></a>
          <a class="navbar-brand brand-logo-mini" href=""
            ><img src="{% static 'img/logo.png' %}" alt="logo"
          /></a>
        </div>
        <div
          class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
        >
          <button
            class="navbar-toggler navbar-toggler align-self-center"
            type="button"
            data-toggle="minimize"
          >
            <span class="ti-layout-grid2"></span>
          </button>
          <ul class="navbar-nav mr-lg-2">
            <li class="nav-item nav-search d-none d-lg-block">
              <div class="input-group">
                <div
                  class="input-group-prepend hover-cursor"
                  id="navbar-search-icon"
                >
                  <span class="input-group-text" id="search">
                    <i class="ti-search"></i>
                  </span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  id="navbar-search-input"
                  onkeyup="myFunction()"
                  placeholder="Search now"
                  aria-label="search"
                  aria-describedby="search"
                />
              </div>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-toggle="dropdown"
                id="profileDropdown"
              >
                <i class="ti-user mx-2"></i>
                <span class="count"></span>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right navbar-dropdown"
                aria-labelledby="profileDropdown"
              >
                <a class="dropdown-item" href="{% url 'change-password' %}">
                  <i class="ti-settings text-primary"></i>
                  Password
                </a>
                <a class="dropdown-item" href="{% url 'logout' %}">
                  <i class="ti-power-off text-primary"></i>
                  Logout
                </a>
              </div>
            </li>
            <li class="nav-item nav-settings d-none d-lg-flex">
              <a class="nav-link" href="#">
                <i class="ti-more"></i>
              </a>
            </li>
          </ul>
          <button
            class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
            type="button"
            data-toggle="offcanvas"
          >
            <span class="ti-layout-grid2"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <div id="right-sidebar" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <div class="tab-content" id="setting-content">
            
            <!-- To do section tab ends -->
          </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            {% for rw in url %} {% if rw.status == 'Active' %}
            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="{{rw.toggle}}"
                href="#ui-basic-{{rw.id}}"
                aria-expanded="false"
                aria-controls="ui-basic"
              >
                <i class="{{rw.icon}} menu-icon"></i>
                <span class="menu-title">{{rw.header}}</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic-{{rw.id}}">
                <ul class="nav flex-column sub-menu">
                  {% for r in sub_url %} {% if r.rootid_id == rw.id %} 
                  {% if r.toggle == 'modal' %}
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      href="{{r.page_type}}{{r.slug}}"
                      data-toggle="{{r.toggle}}"
                      >{{r.title}}</a
                    >
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{r.url}}">{{r.title}}</a>
                  </li>
                  {% endif %} {% else %} {% endif %} {% endfor %}
                </ul>
              </div>
            </li>
            {% endif%} {% endfor %}
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

            {% block content %} {% endblock content %}
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div
              class="d-sm-flex justify-content-center justify-content-sm-between"
            >
              <span
                class="text-muted text-center text-sm-left d-block d-sm-inline-block"
                >© <script>document.write(new Date().getFullYear());</script>. All rights reserved.</span
              >
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

   {% include 'dashboard/scripts.html' %}
    <!-- End custom js for this page-->

    <!-- The Modal -->
    {% for rw in accts %}
    <div id="staff{{rw.id}}" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
            <iframe
              src="{% url 'client-detail' rw.id %}"
              width="100%"
              frameborder="0"
              height="500"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    {% endfor %} {% for r in sub_url %}
    <div id="{{r.slug}}" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
            <iframe
              src="/{{r.url}}/"
              width="100%"
              frameborder="0"
              height="500"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </body>
</html>
