 {% load static %}
 

 <link rel="stylesheet" href="{% static 'dash/css/icons.css' %}" />
    <link rel="stylesheet" href="{% static 'dash/css/base.css' %}" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'dash/css/style.css' %}" />
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/favicon.png" />
   
    <style>
      .modal-content {
        background-color: #ffffff21;
      }
    </style>