 {% load static %}
 
 <link rel="stylesheet" href="{% static 'dash/css/icons.css' %}" />
    <link rel="stylesheet" href="{% static 'dash/css/base.css' %}" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'dash/css/style.css' %}" />
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/favicon.png" />
   
    <style>
      .modal-content {
        background-color: #ffffff21;
      }
      .auth.auth-img-bg .auth-form-transparent {
    width: 30% !important;
    margin: auto;
      }

    table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    }

    th {
      cursor: pointer;
    }

    th, td {
      text-align: left;
      padding: 16px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2
    }
    </style>