{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>PrimeCare Link Services Admin</title>
    <!-- plugins:css -->
    <style>
      .auth.auth-img-bg .auth-form-transparent {
            width: 30% !important;
            margin: auto;
        }
        input[type=text], input[type=password], input[type=email] {
        width: 100%;
        padding: 10px 18px;
        margin: 8px;
        box-sizing: border-box;
      }
    </style>
    <link rel="stylesheet" href="{% static 'dash/css/icons.css' %}" />
    <link rel="stylesheet" href="{% static 'dash/css/base.css' %}" />

    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'dash/css/style.css' %}" />
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" />
  </head>

  <body class="sidebar-icon-only">
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div
          class="content-wrapper d-flex align-items-stretch auth auth-img-bg"
        >
          <div class="row flex-grow">

            {% block content %}

           
            {% endblock content %}
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'dash/js/base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'dash/js/off-canvas.js' %}"></script>
    <script src="{% static 'dash/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'dash/js/template.js' %}"></script>
    <script src="{% static 'dash/js/settings.js' %}"></script>
    <script src="{% static 'dash/js/todolist.js' %}"></script>
    <!-- endinject -->
  </body>
</html>
