{% extends "mainBase.html" %}
{% load static %}
{% block content %}
<div class="w3-row">
	<div class="w3-col m12">
		<table id="myTable" class="table table-striped table-hover" width="100%">
	      <tr>
	      	<td><strong>ID</strong></td>
	     	<td><strong>Full Name</strong></td>
	     	<td><strong>Login Number</strong></td>
	     	<td><strong>Logout Number</strong></td>
	     </tr> 
	     {% for rw in logs %}
	     <tr>
	     	<td>{{rw.id}}</td>
	     	<td style="text-transform: capitalize;"><a onclick="document.getElementById('{{rw.id}}').style.display='block'">{{rw.fname}}  {{rw.lname}}</a></td>
	     	<td style="text-transform: capitalize;">{{rw.Daily_Login_ID}}</td>
	     	<td style="text-transform: capitalize;">{{rw.Daily_Logout_ID}}</td>
	     	
	     </tr>  
	     {% endfor %} 
	 </table>
	</div>
</div>

{% endblock %}